<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silentdream.user.mapper.LoginMapper">
<resultMap id="userMap" type="User">
		<id property="id" column="ID" jdbcType="INTEGER"></id>
		<result property="nickName" column="nick_Name" jdbcType="VARCHAR"></result>
		<result property="address" column="address" jdbcType="VARCHAR"></result>
		<result property="postCode" column="post_Code" jdbcType="VARCHAR"></result>
	</resultMap>
  <select id="selectUser"  resultMap="userMap">
    select id,
    nick_Name as "nickName",
    address,
    post_Code as "postCode"
    from PL_USER
  </select>
</mapper>